// styles.scss
body {
    background-color: #f8f9fa; // Un fondo claro, ejemplo
}

#app {
    margin-top: 20px;
}

.card {
    margin-bottom: 20px;
    border: none;
    box-shadow: 0 0 15px rgba(0,0,0,0.1); // Sombra suave para tarjetas

    .card-header {
        background-color: #007bff; // Color de Bootstrap
        color: white;
    }
}